<a href="https://colab.research.google.com/github/sayyidan-i/coursework/blob/main/01_Pengenalan_Python%2C_Data_Type%2C_Variable%2C_Operator%2C_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DIGITAL TALENT

Setelah mengikuti materi pertama ini peserta diharapkan dapat:
1. Menjalankan sintaks dasar python
2. Mengenal variabel serta mampu menggunakan variabel
3. Mengetahui jenis-jenis tipe data dalam python
4. Mengetahui jenis-jenis operator
5. Dapat menggunakan operator aritmetika, assignment, perbandingan, serta logika
6. Memahami algoritma dari statement kondisi
7. Dapat menggunakan statement kondisi dalam kasus pemrograman

## Hello World !

In [ ]:
print("Hai") #ctrl+<enter>

Hai

## Variabel
Variabel adalah tempat menyimpan nilai sementara. Berikut adalah cara mendeklarasikan, menginisialisasi variabel dan memanggil variabel dalam python:

In [ ]:
# dynamic typing
var_i = 1
var_f = 5.0
a,b,c = 2,3,"hello"

print(var_i, type(var_i))

print(var_f, type(var_f))

print(a,b,c)

1 <class 'int'>
5.0 <class 'float'>
2 3 hello

In [ ]:
s = 'ha"i'
ss = "ha'i"
print(s,ss)

ha"i ha'i

## TIPE DATA
Dalam setiap nilai di variabel, terdapat sebuah tipe data tertentu. Pada python, terdapat beberapa tipe data:

- Numbers
- Strings
- Boolean
- List
- Tuple
- Set
- Dictionary

### Numbers
- Integer : Angka tanpa koma
- Float : Angka dengan Koma

In [ ]:
i = 4
f = 3.4
print(type(i),type(3.4))

<class 'int'> <class 'float'>

### Boolean
Benar atau Salah?

In [ ]:
boolt = True
boolf = False
print(type(boolt))

<class 'bool'>

### String
Kumpulan karakter

In [ ]:
s = 'hai '
ss = "ha'i"
print(s,ss)

hai  ha'i

In [ ]:
slong = s*4
print(slong)

hai hai hai hai

### List & Tuple & Dictionary
dibahas minggu depan

## Operator

### 1. Operator Aritmetika

| Operator | Arti                                                                                          | Contoh                  |
|----------|--------------------------------------------------------------------------------------------------|--------------------------|
| +        | Penambahan                                                                   | x + y                 |
| -        | Pengurangan                                              | x - y                  |
| *        | Perkalian                                                                            | x * y                    |
| /        | Pembagian                                 | x / y                    |
| %        | Modulo - Sisa Pembagian                                 | x % y (sisa pembagian of x/y) |
| //       | Pembagian dan dibulatkan ke bawah | x // y                   |
| **       | Eksponen - Pangkat                                             | x**y (x pangkat y)  |

In [ ]:
x = 5
y = 4

print(x+y)
print(x/y)
print(x//y)
print(x*y)
print(x**y)

9
1.25
1
20
625

### 2. Operator Assignment
Pemberian Nilai, Updating Nilai

In [ ]:
x=x+4
print(x)

9

![alt text](https://www.freeiconspng.com/uploads/book-store-icon-31.png "Bookstore")

## LATIHAN


#### Pada keluaran buku terbaru, Harry Potter harga buku adalah Rp 100.000, tetapi toko buku mendapatkan diskon 40%. Pengiriman biaya Rp 9.000 untuk salinan pertama dan Rp 3.000 untuk setiap salinan tambahan. Berapa total biaya keseluruhan untuk pengiriman buku 60 eksemplar?

In [ ]:

harga_buku = 100000
diskon =(4/10)*harga_buku
ongkir1 =9000
ongkir2 = 3000

harga_total = 60*(harga_buku-diskon) + ongkir1 +ongkir2*59
print(harga_total)

3786000.0

### 3. Operator Perbandingan
| Operator | Meaning                 | Example |
|----------|-------------------------|---------|
| >        | Lebih Dari              | x > y   |
| <        | Kurang Dari             | x < y   |
| ==       | Sama Dengan             | x == y  |
| !=       | Tidak Sama Dengan        | x != y  |
| >=       | Lebih dari sama dengan  | x >= y  |
| <=       | Kurang dari sama dengan | x <= y  |

In [ ]:
x = 10
y = 12

print('x > y  is',x>y) #False

print('x < y  is',x<y)

print('x == y is',x==y)

print('x != y is',x!=y)

print('x >= y is',x>=y)

print('x <= y is',x<=y)

x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

### 4. Operator Logika

| Operator | Keterangan                         | Contoh  |
|----------|------------------------------------|---------|
| and      | True jika keduanya True            | x and y |
| or       | True jika salah satunya True       | x or y  |
| not      | not False = True; not True = False | not x   |

In [ ]:
x = 5 == 5
y = 1 > 2


print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

# Statement Kondisi / Percabangan
Dalam pembuatan program, seringkali kita memiliki kondisi, jika..maka, contohnya: jika nilai hasil ujian > 90, maka calon peserta digital talent berhak mengikuti program beasiswa. Kondisi seperti ini dapat digambarkan dengan Flowchart seperti dibawah ini:

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/Python_if_statement.jpg "If Statement")

Berikut adalah sintaks dari kode program kondisional / percabangan.
Perhatikan Indentasi yang ada pada sintaks tersebut.

In [ ]:
# single if -> komentar

if 5<4:
   print('masuk if')
   pass
   pass
   pass
   print('akhir if')

print('sudah selesai')

sudah selesai

Dalam bahasa pemrograman Python, Indentasi sangatlah penting untuk menentukan blok kode sebuah program.

Selanjutnya, terdapat bentuk yang sedikit lebih kompleks, yaitu dengan menggunakan else:

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/Python_if_else_statement.jpg "If Else Statement")

In [ ]:
# if else
if 5<4:
  print('masuk if') # blok kode
else:
  print('masuk else') #blok else

print('blok luar')

masuk else
blok luar

Jika terdapat lebih dari satu kondisi dapat menggunakan elif (else if):

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/Python_if_elif_else_statement.jpg "If Else If Statement")

In [ ]:
# if elif else

if kondisi:
  pass
elif kondisi2:
  pass
else:
  pass

Percabangan juga bisa disarangkan pada percabangan, contoh:

In [ ]:
if 5>3:
  if 3>4:
    print('nested')
elif 4>3:
  print('elif')
else:
  print('else')

print('keluar')

keluar

In [ ]:
nilai =75

if nilai>80:
  print("A")
elif nilai >60:
  print('B')
else:
  print('C')

B

![alt text](https://cdn.iconscout.com/icon/free/png-256/human-body-458026.png "Body")

## LATIHAN


Body Mass Index (BMI) menentukan sebuah keidealan berat badan terhadap tinggi badan. Berikut adalah formula dari BMI : BMI = weight (kg) รท height^2 (m^2)

Berikut adalah kategorisasi BMI

| BMI                 | Kategori BMI             |   |
|---------------------|---------------------------|---|
| Kurang dari 15        | Very severely underweight |   |
| Diantara 15 dan 16   | Severely underweight      |   |
| Diantara 16 dan 18.5 | Underweight               |   |
| Diantara 18.5 dan 25 | Normal (healthy weight)   |   |
| Diantara 25 dan 30   | Overweight                |   |
| Diantara 30 dan 35   | Moderately obese          |   |
| Diantara 35 dan 40   | Severely obese            |   |
| Over 40             | Very severely obese       |   |

Buatlah sebuah program yang memiliki dua variabel berat badan dengan satuan KG, dan tinggi badan dengan satuan CM, kemudian keluaran dari program adalah Kategori BMI