<a href="https://colab.research.google.com/github/sayyidan-i/coursework/blob/main/03_Fungsi%2C_File_IO%2C_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Fungsi / Subprogram
Fungsi / Subprogram digunakan untuk mengelompokkan beberapa syntaks dalam satu kelompok statement. Pada umumnya kelompok statement ini sering dikerjakan berulang kali. Ketika program kita sudah cukup besar, fungsi dapat digunakan untuk mem breakdown potongan-potongan kode agar menjadi beberapa kesatuan kecil.

## 1.1 Deklarasi Fungsi
Berikut diberikan contoh untuk mendeklarasikan fungsi bernama hello, yang menerima parameter berupa bilangan n. Tujuan dari fungsi ini akan mengoutputkan kata "hello" sebanyak n kali

In [ ]:
def hello(n):
  for _ in range(n):
    print('hello')
  # return None

## 1.2 Pemanggilan Fungsi

In [ ]:
hello(3)

hello
hello
hello

## 1.3 Fungsi yang Mengirimkan Kembalian Nilai
Dalam contoh fungsi yang pertama, fungsi tersebut hanya menjalankan sebuah perintah. Namun fungsi juga seringkali digunakan untuk melakukan perhitungan dan kemudian nilainya dipergunakan dalam proses selanjutnya. seperti contoh berikut:

In [ ]:
def tambah(a,b):
  return a+b

In [ ]:
var = tambah(2,3)
print(var)

5

In [ ]:
# keyword argumen
def tambah2(a,c,d,b=10):
  return a+b

In [ ]:
# print(tambah2(1,2,3))

12

# 2. FILE INPUT OUTPUT
Seringkali kita ingin menyimpan hasil output dari program ke dalam sebuah File, ataupun membaca data yang ada dari file. Python menyediakan fungsi untuk hal ini

# 2.1 Menulis ke File
Dalam penulisan ke file, awalnya kita harus membuat / membuka sebuah file dengan mode 'w' atau write. Kemudian kita bisa memasukkan teks ke dalam file tersebut. Setelah selesai menulis, kita bisa close file tersebut. Kalian bisa mengeceknya dalam folder yang sama dengan ipynb ini, apakah file sudah terbuat

In [ ]:
f = open('data.txt','w')
f.write('Hello World! \nHello Again \n')
f.write("This is our new text file \n")
f.write("and this is another line \n")
f.write("Why? Because we can")
f.close()

## 2.2 Membaca dari File

In [ ]:
fo = open('data.txt','r')
print(fo.read())
fo.close()

In [ ]:
fo = open('data.txt','r')
for line in fo:
    print("===")
    print(line.upper())
fo.close()

# 3. Import

Seringkali kita tidak perlu melakukan implementasi ulang terhadap banyak kasus seperti analisa statistik sederhana, melakukan random, fungsi matematika sederhana sampai yang kompleks, dan lain sebagainya. Kita bisa menggunakan module / library yang telah disediakan oleh python ataupun library yang telah dibuat oleh orang

## 3.1 Modul Random

In [ ]:
import random

r = random.random()
print(r)
r = random.randint(50,100)
print(r)

0.3995908899783962
75

In [ ]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

## 3.2 Modul Statistics

In [ ]:
import statistics as sta

a = [0, 1, 1, 3, 4, 9, 15]

b = sta.mean(a)
c = sta.median(a)
d = sta.mode(a)
e = sta.stdev(a)
f = sta.variance(a)

print(b,c,d,e,f)

4.714285714285714 3 1 5.437961803049794 29.571428571428566

In [ ]:
dir(sta)

['Decimal',
 'Fraction',
 'StatisticsError',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_coerce',
 '_convert',
 '_counts',
 '_exact_ratio',
 '_fail_neg',
 '_find_lteq',
 '_find_rteq',
 '_isfinite',
 '_ss',
 '_sum',
 'bisect_left',
 'bisect_right',
 'collections',
 'groupby',
 'harmonic_mean',
 'math',
 'mean',
 'median',
 'median_grouped',
 'median_high',
 'median_low',
 'mode',
 'numbers',
 'pstdev',
 'pvariance',
 'stdev',
 'variance']

Jika gagal import, maka package tersebut belum ada dalam library di komputer lokal kita.
Kita harus mendownload nya dari package manager python.
package manager : pip, conda

## 3.3 Modul Math

In [ ]:
import math

a = math.factorial(5)
b = math.pi
c = math.sqrt(5)
d = math.log(256, 2)

print(a,b,c,d)

## 3.4 Modul CSV

In [ ]:
import csv,os
print(os.getcwd())
with open('data-bencana-kekeringan-2012-2013.csv') as csvfile:
    my_csv_file = csv.reader(csvfile, delimiter=',',quotechar="'")
    for row in my_csv_file:
        kolom_tanggal = row[2]
        print(row)
        print("=================")

# 4. Numpy
Numpy memiliki kegunaan untuk operasi vektor dan matriks. Fiturnya hampir sama dengan MATLAB dalam mengelola array dan array multidimensi.

## 4.1 Numpy Array

In [ ]:
import numpy as np

# a = np.array([1, 2, 3])
# print(a)
# print(type(a))
# print(a.shape)
# print(a[0], a[1], a[2])
# a[0] = 5
# print(a)
b
b = np.array([[1,2,3],[4,5,6]])
print(b)
print(b.shape)
print(b[0, 0], b[0, 1], b[1, 0])

NameError: ignored

In [ ]:
a=list(range(100))
print(a)
a_np = np.arange(100)
print(a_np)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]

In [ ]:
for i in a:
  a[i]*=2

a_np*=2

In [ ]:

print(a,a_np)

NameError: ignored

In [ ]:
def list_biasa(a):
  for i in range(len(a)):
    a[i]*=2

def np_list(a):
  a *=2

In [ ]:
%timeit list_biasa(a)

10000 loops, best of 5: 70.6 µs per loop

In [ ]:
%timeit np_list(a_np)

The slowest run took 27.04 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 5: 1.49 µs per loop

## 4.2 Buat Array

In [ ]:
# a = np.zeros((5,4))
# print(a)

# b = np.ones((3,2))
# print(b)

# c = np.full((5,2), 7)
# print(c)

# d = np.eye(6)
# print(d)

# e = np.random.random((5,5))
# print(e)

## 4.3 Indexing & Slicing

In [ ]:
import numpy as np

a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print(a)
b = a[:2, 1:3]
print(b)
# print(a[0, 1])
# b[0, 0] = 77
# print(b)
# print(a[0, 1])

## 4.4 Operasi Vektor & Matriks

In [ ]:
import numpy as np

x = np.array([[1,2],[3,4]], dtype=np.float64)
y = np.array([[5,6],[7,8]], dtype=np.float64)

print(x)
print(y)

# print(x + y)
# print(np.add(x, y))

# print(x - y)
# print(np.subtract(x, y))

# print(x * y)
# print(np.multiply(x, y))

# print(x / y)
# print(np.divide(x, y))

# print(np.sqrt(x))

## 5. Pandas
Dengan menggunakan sistem dataframe, kita dapat memuat sebuah file ke dalam tabel virtual ala spreadsheet dengan menggunakan Pandas. Dengan menggunakan Pandas, kita dapat mengolah suatu data dan mengolahnya seperti join, distinct, group by, agregasi, dan teknik seperti pada SQL. Hanya saja dilakukan pada tabel yang dimuat dari file ke RAM. Pandas juga dapat membaca file dari berbagai format seperti .txt, .csv, .tsv, dan lainnya. Anggap saja Pandas adalah spreadsheet namun tidak memiliki GUI dan punya fitur seperti SQL.

In [ ]:
import pandas as pd

## 5.1 Membaca File CSV

In [ ]:
data_kekeringan = pd.read_csv('data-bencana-kekeringan-2012-2013.csv', delimiter = ',', encoding = "ISO-8859-1")

## 5.2 Melihat Data

In [ ]:
data_kekeringan

In [ ]:
data_kekeringan.head(1)

In [ ]:
data_kekeringan.tail()

In [ ]:
data_kekeringan.sample(5)

In [ ]:
data_kekeringan.iloc[10:15,1:3]

## 5.3 Memilih Beberapa Kolom Saja

In [ ]:
data_kekeringan.columns

In [ ]:
data_kekeringan[['Bencana ','Lokasi ']]

In [ ]:
data_kekeringan['Lokasi ']

In [ ]:
data_kekeringan['Lokasi '][2]

In [ ]:
# data_kekeringan[data_kekeringan['Tanggal ']=='9/16/2013']
data_kekeringan.loc[(data_kekeringan['Tanggal ']=='9/16/2013') & (data_kekeringan['Korban ']=='Pendataan')]

In [ ]:
data_kekeringan.loc[(data_kekeringan['Tanggal '] =='9/16/2013') | (data_kekeringan['Korban ']=='Pendataan')]

## 5.4 Contoh Data Lain yang memiliki Kolom Numerik

In [ ]:
data_pangan = pd.read_csv('jumlah-usaha-pertanian-per-provinsi-per-usaha-2003-2013.csv', delimiter = ',', encoding = "utf-8")

In [ ]:
data_pangan.head()

In [ ]:
data_pangan.count()

In [ ]:
data_pangan.columns

## 5.5 Statistik Sederhana

In [ ]:
data_pangan.kode_provinsi.count()

In [ ]:
s = data_pangan.jumlah.sum()
mi = data_pangan.jumlah.min()
ma = data_pangan.jumlah.max()

print(s,mi,ma)

In [ ]:
me = data_pangan.jumlah.mean()
md = data_pangan.jumlah.median()

print(me,md)

## 5.6 Grouping

http://pbpython.com/images/groupby-example.png

In [ ]:
data_pangan.groupby('tahun').mean()['jumlah']

In [ ]:
data_pangan.groupby('nama_provinsi').mean()['jumlah']

In [ ]:
data_pangan.sort_values('jumlah')

In [ ]:
data_pangan.groupby(['kode_provinsi','bentuk_usaha']).mean()

## 5.7 Visualisasi Sederhana
Panda menyediakan fungsi untuk melakukan visualisasi sederhana, namun jika menginginkan yang lebih lengkap, bisa melihat di library matplotlib

In [ ]:
ax = data_pangan.groupby(('nama_provinsi')).mean()['jumlah']
ax = ax.plot(kind='bar', title ="Rata-Rata Berdasarkan Tahun", figsize=(15,15), legend=True, fontsize=12)
ax.set_xlabel("Tahun", fontsize=12)
ax.set_ylabel("Jumlah", fontsize=12)

## Projects

Temukan data yang menurut kalian menarik pada http://data.go.id . Buat analisa data yang berisi:
1. Deskripsi Data
2. Statistik tentang data
3. Visualisasi sederhana
4. Narasi analisis

Buat dalam sebuah Notebook dengan judul Analisa Data X, dimana X adalah Deskripsi Data yang dianalisa. Submit link menuju notebooknya di elisa.